<div id="data-area" style="margin-bottom: 50px;">
    <div class="panel panel-info">
        <div class="panel-body">
            <table class="table table-hover table-bordered" style="margin-bottom: 0px;">
                <tbody>
                    <tr class="active">
                        <td colspan="2">
                            <strong>校园卡余额</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td>{{ data.name }}</td>
                    </tr>
                    <tr>
                        <td>学号</td>
                        <td>{{ data.user_id }}</td>
                    </tr>
                    <tr>
                        <td>余额</td>
                        <td>{{ data.balance }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>