<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<div id="content">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <span class="glyphicon glyphicon-pencil"></span>API 查询
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div id="alert-area">
                        </div>
                        <div class="form-group has-feedback col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">学号</div>
                                <input type="text" name="user_id" id="user_id" required="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group has-feedback col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">密码</div>
                                <input type="password" name="password" id="password" required="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group has-feedback col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">class</div>
                                <select name="class" class="form-control" onchange="get_func()" id="class">
                                    <option value="Dormitory">Dormitory</option>
                                    <option value="Ecard">Ecard</option>
                                    <option value="EduManage">EduManage</option>
                                    <option value="Ehall">Ehall</option>
                                    <option value="Lib">Lib</option>
                                    <option value="Logistics">Logistics</option>
                                    <option value="Meol">Meol</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">func</div>
                                <select name="func" class="form-control" id="func">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button style="width: 100%;" onclick="get_data()" class="btn btn-info ">查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <pre style="width:100%;" id="result"></pre>
                </div>
            </div>
        </div>
</div>
<script>
    function get_func() {
        const clas = $("#class").val();
        console.log('get ' + clas);
        $.get('/' + clas + '/', function (rst, state) {
            l = rst.data;
            var str = '';
            for (var i = 0; i < l.length; i++) {
                console.log(l[i]);
                str += '<option value="' + l[i] + '">' + l[i] + '</option>';
            }
            console.log('\n');
            $("#func").html(str);
        })
    }
    get_func();

    function get_data() {
        data = {
            "user_id": $("#user_id").val(),
            "password": $("#password").val(),
            "class": $("#class").val(),
            "func": $("#func").val()
        }
        $.post('/', data = data, function (rst, state) {
            $('#result').html(syntaxHighlight(rst));
        })
    }

    function syntaxHighlight(json) {
        if (typeof json != 'string') {
            json = JSON.stringify(json, undefined, 2);
        }
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(
            /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
            function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
    }
</script>
<style>
    pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }
</style>